<ion-header>
    <ion-toolbar>
        <ion-title>{{ peripheral.name || 'Device' }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-header>
            {{ peripheral.name || 'Unnamed' }}
        </ion-card-header>
    </ion-card>

    <ion-card class="speed">
        <span class="speed-type">km/h</span>
        <div class="speed-container">
            <span class="speed-value">{{ speed | number:'2.0-0' }}</span>
            <span class="sub-speed-value">{{ subSpeed | number:'2.0-0'}}</span>
        </div>
    </ion-card>

</ion-content>

<ion-footer>
    <ion-toolbar>
        <p class="ion-no-margin ion-padding-start">Status: {{ statusMessage }}</p>
    </ion-toolbar>
</ion-footer>
