.speed {
    position: relative;
    height: calc(100% - 80px);

    .speed-type {
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translateX(-50%);
        font-size: 10vh;
    }

    .speed-container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }

    .speed-value {
        font-size: 20vh;
        line-height: 17vh;
    }

    .sub-speed-value {
        font-size: 8vh;
    }
}

.container {
    height: 100%;
}
