<ion-header>
    <ion-toolbar>
        <ion-title>
            BLE Rybchenko
        </ion-title>
        <ion-buttons slot="end">
            <ion-button color="secondary" (click)="scan()">
                Scan
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item *ngFor="let device of devices" (click)="deviceSelected(device)">
            <h2>{{ device.name || 'Unnamed' }}</h2>
            <p>{{ device.id }}</p>
            <p>RSSI: {{ device.rssi }}</p>
        </ion-item>
        <ion-item>
            <ion-button (click)="deviceSelected(null)">Check</ion-button>
        </ion-item>
    </ion-list>
</ion-content>

<ion-footer>
    <ion-toolbar>
        <p class="ion-no-margin ion-padding-vertical">{{ statusMessage }}</p>
    </ion-toolbar>
</ion-footer>
